*{
    margin: 0;
}

header > #button-back-container {
    display: none;
    position: fixed;
    z-index: 1000;
    bottom: 2rem;
    right: 2rem;
}

header > #button-back-container > a {
    background-color: #e6e6e6;
    border-radius: 20px;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    font-weight: bolder;
    cursor: pointer;
    color: #1B1464;
}

header > #button-back-container > a:hover {
    color: #EC008C;
}

/* Première section */

header > section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 7rem;
    row-gap: 2rem;
    align-items: center;
    justify-content: center;
}

header > section > h1{
    font-size: 3rem;
    color: #1B1464;
    text-align: center;
}

header > section > h1 > span{
    display: inline;
    color: #1B1464;
    letter-spacing: 5px;
    line-height: 1.6;
    background-color: #EC008C;
}

header > section > .small-screen-h1{
    display: none;
}

header > section > .texte-illustration-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > section > .texte-illustration-container > p{
    font-size: 1.5rem;
    font-weight: bold;
    flex-basis: 70%;
    line-height: 2.3rem;
}

header > section > .texte-illustration-container > p > b:nth-child(odd) {
    background-color: #1B1464;
    color: #00FFC5;
    font-weight: inherit;
}

header > section > .texte-illustration-container > p > b:nth-child(even) {
    color: #1B1464;
    background-color: #00FFC5;
    font-weight: inherit;
}

header > section > .texte-illustration-container > img{
    width: 25%;
}

header > section > a {
    padding: 1rem 2rem;
    margin-top: 1rem;
    background-color: #EC008C;
    border-radius: 10px;
    color: #e6e6e6;
    font-size: 1.4rem;
    transition: 0.5s ease;
    font-weight: bold;
}

header > section > a:hover{
    background-color: #1B1464;
    color: #e6e6e6;
}


/* Deuxieme section */ 

#avantages {
    background-color: #1B1464;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 5rem 7rem;
    align-items: center;
    justify-content: space-around;
}

#avantages > h2{
    font-size: 3rem;
    text-align: center;
    color: #1B1464;
}

#avantages > h2 > span{
    display: inline;
    color: #1B1464;
    letter-spacing: 5px;
    line-height: 1.6;
    background-color: #00FFC5;
}

#avantages > .small-screen-h2{
    display: none;
}

#avantages > p{
    font-size: 1.2rem;
    width: 70%;
    color: white;
    text-align: center;
    font-weight: bold;
}

#avantages > .items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    gap: 2rem
}

#avantages  > .items > .item {
    border-radius: 20px;
    background-color: rgba(0,0,0,.35);
    padding: 2rem 2.5rem;
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#avantages > .items > .item > img{
    align-self: flex-start;
    background-color: rgba(0,0,0,0.4);
    border-radius: 20px;
    padding: 1.2rem;
    
}

#avantages > .items > .item > .text-content{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

#avantages > .items > .item > .text-content > h3 {
    font-size: 1.8rem;
    color: white;
}

#avantages > .items > .item > .text-content > p {
    font-size: 1.2rem;
    color: #AFAFB6;
}


/* Troisième section */

#comment-choisir{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 3rem 7rem;
    justify-content: space-around;
    row-gap: 1rem;
}

#comment-choisir > .title-description-container{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

#comment-choisir > .title-description-container > h2{
    color: #1B1464;
    font-size: 3rem;
    line-height: 4.5rem;
    flex-basis: 40%;
}

#comment-choisir > .title-description-container > h2 > span{
    background-color: #00FFC5;
    padding: 0 0.7rem;
}

#comment-choisir > .title-description-container > p {
    flex-basis: 40%;
    font-size: 1.2rem;
    color: #575570;
}

/* cartes troisième section */

#comment-choisir > .cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 1rem;
}

#comment-choisir > .cards > .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    gap: 1rem;
    border-radius: 20px;
    border: 3px solid #1B1464;
}

#comment-choisir > .cards > .card > img{
    border-radius: 50%;
    padding: 1rem;
    background-color: #00FFC5;
}

#comment-choisir > .cards > .card > h3{
    color: #1B1464;
    font-size: 1.5rem;
}

#comment-choisir > .cards > .card > p {
    color:  #575570;
}


@media screen and (max-width: 1605px){
    #avantages{
        row-gap: 2rem;
    }
}

@media screen and (max-width:1250px){
    #avantages > .items {
        grid-template-columns: 1fr;
    }
}

    
@media screen and (max-width:1100px) {
    header > section > .texte-illustration-container > p {
        text-align: center;
        flex-grow: 1;
    }

    #comment-choisir{
        row-gap: 2rem;
    }

    #comment-choisir > .title-description-container{
        flex-direction: column;
        text-align: center;
        align-items: center;
        row-gap: 1rem;
    }

    #comment-choisir > .cards{
        grid-template-columns: repeat(2, 1fr);
    }

    .illustration{
        display:none
    }
    
   
}

@media screen and (max-width:700px) {
    
    #comment-choisir > .cards {
        grid-template-columns: 1fr;
    }

}

@media screen and (max-width:576px) {

    html{
       font-size: 13px; 
    }

}

@media screen and (max-width:400px){
    html{
        font-size: 9px; 
     }
}